<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bibliothèque public de communauté Ville LaSalle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (User.IsInRole("AdminAccount"))
    {
        @Html.Partial("_NavBarAdmin")
    }
    else
    {
        @Html.Partial("_NavBar")
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @Scripts.Render("~/bundles/lib")    
    @RenderSection("scripts", required: false)
</body>
</html>
